.html-document {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    img {
        object-fit: cover;
        width: 730px;
        max-height: 200px;
        border-radius: 10px;
    }

    @mixin details {
        margin: 20px auto;
        width: 730px;
        border-radius: 10px;
        padding: 15px;
    }

    .details-border {
        @include details();
        border: 5px solid rgb(0, 0, 0);
    }

    .details-no-border {
        @include details();
    }

    .qr-code {
        // background-color: #fff;
        margin: 20px auto;
        max-width: 200px;
    }
    .indentity{
        color: black;
        margin: 10px auto;
    }
}

.card-element{
    border: 1px solid #531BA8;
    border-radius: 3px;
    margin: 10px auto;
    color: white;
}

.payment-element{
    border: 1px solid #531BA8;
    border-radius: 10px;
    margin: 10px auto;
    background-color: white;
}