<style>
  h4 {
    color: rgb(182, 70, 45);
    text-align: center;
  }
  table {
    width: 98vw;
    padding: 10px;

    border: 1px solid rgb(227, 172, 9);
    border-radius: 10px;
  }
  td {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(80, 89, 191);
  }
</style>

<h4>Folder Structure</h4>
<table>
  <tr>
    <td>
      <h3><b>components:</b> low label structure</h3>
      <ol>
      </ol>
    </td>
  </tr>
  <tr>
    <td>
      <h3><b>features:</b> combinations of components</h3>
    </td>

    <td>
      <ul>
        <li>
          headers
          <ul>
            <li>const.header.tsx</li>
            <li>default.header.tsx</li>
          </ul>
        </li>

        <li>
          sidebar
          <ul>
            <li>const.sidebar.tsx</li>
            <li>default.sidebar.tsx</li>
          </ul>
        </li>

        <li>
          footer
          <ul>
            <li>const.footer.tsx</li>
            <li>default.footer.tsx</li>
          </ul>
        </li>

        <li>
          layout
          <ul>
            <li>default.layout.tsx</li>
          </ul>
        </li>
      </ul>
    </td>
  </tr>
    
  <tr>
    <td>
      <h3><b>views:</b> combinations of features</h3>
      <ol>
      </ol>
    </td>
  </tr>
  <tr>
    <td>
      <h3><b>pages:</b> combinations of views</h3>
      <ol>
      </ol>
    </td>
  </tr>
</ol>
</table>


<h4>Header, Footer, Sidenav</h4>
<table>
  <tr>
    <td><b>Component:</b> const, default, . . .</td>
    <td>*</td>
  </tr>
  <tr>
    <td>*</td>
    <td>*</td>
  </tr>
</table>

<h4>CSS</h4>
<table>
  <tr>
    <td>* sidebar scroll is removed in components-> sidebars-> index.scss</td>
    <td>* sidebar dropdown search scroll globally removed in root index.scss</td>
    <td>*</td>
  </tr>
  <tr>
    <td>*</td>
    <td>*</td>
  </tr>
</table>


<h4>Libreries</h4>
<table>
  <tr>
    <td>npm install recharts</td>
    <td>for chart library</td>
  </tr>
  <tr>
    <td>*</td>
    <td>*</td>
  </tr>
</table>
