.default-band {
    width: 100%;
    font-size: 30px;
    color: White;
    background-color: #531BA8;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;

    p{
        font-size: 12px;
    }
}
