.default-heading {
}
.green{
    color: green;
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.yellow{
    color: yellow;
}
.white{
    color: white;
}
.black{
    color: black;
}

// Bold
.b {
    font-weight: bold;
}

// Italic
.i {
    font-style: italic;
}

// Heading
.s-1 {
    font-size: 144px;
}
.s-2 {
    font-size: 72px;
}
.s-3 {
    font-size: 48px;
}
.s-4 {
    font-size: 32px;
}
.s-5 {
    font-size: 28px;
}
.s-6 {
    font-size: 24px;
}
.s-7 {
    font-size: 20px;
}
.s-8 {
    font-size: 16px;
}
.s-9 {
    font-size: 12px;
}
.s-10 {
    font-size: 10px;
}
