@mixin no-scroll-bar {
    overflow-y: scroll;
    overflow-x: scroll; /* Add the ability to scroll the y axis */
    /* Hide the scrollbar for Internet Explorer, Edge and Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
    /* Hide the scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

.draft-editor {
    min-height: 100px;
    max-height: 300px;
    border-radius: 5px;
    border: 1px solid #666;
    @include no-scroll-bar;
}

.draft-view {
    min-height: 100px;
    border-radius: 5px;
    // border: 1px solid rgb(31, 31, 31);
    @include no-scroll-bar;
}

.editor__container {
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    border: 1px solid #ddd;
}

.toolbar {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-family: "Georgia", serif;
}

.toolbar__controls {
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
}

.toolbar__button {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 12px;
    display: inline-block;
    border-radius: 3px;
}

.toolbar__button--active {
    color: #ffffff;
    background-color: rgb(193, 116, 0);
}

.editor {
    padding: 10px;
    box-sizing: border-box;
    cursor: text;
    font-size: 16px;
}

.editor .public-DraftEditorPlaceholder-root,
.editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
}

.editor .public-DraftEditor-content {
    min-height: 100px;
}

.editor--hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
}

.editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: "Hoefler Text", "Georgia", serif;
    font-style: italic;
    margin: 16px 0;
}

.editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: "Inconsolata", "Menlo", "Consolas", monospace;
    font-size: 16px;
    padding: 20px;
}
