// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/react-toastify/dist/ReactToastify.css";
@import "../node_modules/draft-js/dist/Draft.css";

@mixin no-scroll-bar {
    overflow-y: scroll;
    overflow-x: scroll; /* Add the ability to scroll the y axis */
    /* Hide the scrollbar for Internet Explorer, Edge and Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
    /* Hide the scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    @include no-scroll-bar;
    min-width: 400px;
}

.rs-picker-select-menu .rs-picker-select-menu-items {
    @include no-scroll-bar;
}
.rs-form-help-text {
    color: red !important;
}

@mixin box-img {
    object-fit: cover;
    width: 730px;
    max-height: 200px;
    border-radius: 10px;
}

.black-shadow-box-card {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;
    img {
        @include box-img();
    }
}

.white-shadow-box-card {
    background-color: #fff;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;
    img {
        @include box-img();
    }
}

.react-confirm-alert-body {
    h1 {
        font-size: 21px;
    }
}

.StripeElement {
    width: 100%;
    padding: 21px 25px;
}

.StripeElement--webkit-autofill {
    background: transparent !important;
}
