.header-with-component {
    width: 100%;
    padding: 20px 0px;
    margin-bottom: 30px;
    border-bottom: 1px solid gray;

    table {
        width: 100%;
    }
    .header-text {
        display: flex;
        float: left;
    }
    .header-select-picker {
        display: flex;
        float: right;
        margin-left: 20px;
    }
    .header-button {
        display: flex;
        float: right;
        margin-left: 20px;
    }
}
